* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0 auto;
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: #222;
  background-color: #e2e2e2;
}

footer {
  width: 100%;
  color: black;
  padding: 5px;
  margin: 0px;
}

.social-icon {
  width: 30px;
  height: 30px;
  border-radius: 20%;
  text-align: center;
}

a {
  text-decoration: none;
  color: #003b46; 
}

a:hover {
  color: #0499ff;
}

.main-nav {
  background: #07575b;  
  width: 100%;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
}

.nav {
  background-color: #f7f5f0;  
  width: 95%; 
  margin: 0 auto;
  padding: 2px;  
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
}

.nav .name {
  display: none;
}

.nav li {
  padding: 10px;
  display: inline-block;
}

.nav a {
  transition: all .5s;
}

.nav a:hover {
  color: #6633ff;
}

header {
  text-align: center;
  background: url('../img/beach.jpg') no-repeat top center;
  background-size: cover;
  color: #003b46;
  overflow: hidden;
  padding-top: 30px;
}

header .home-image {
  margin-top: 50px;
  width: 350px;
  height: 230px;
  border-radius: 30%;
  border: 3px solid #c4dfe6;
  transition: all .5s;
}

.tag {
  background-color: #c4dfe6;
  color: black;
  padding: 10px;
  border-radius: 10%;
  display: table;
  margin: 10px auto;
}

.comment {
  font-size: 2;
}

.dopdop {
  height: 300px;
  width: 270px;
  margin-top: 80px;
  margin-right: 20px;
  border: 5px solid #003b46;
}

.full-name {
  font-size: 2em;
}

.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #c4dfe6;
  border: 5px solid #e2e2e2;
  border-radius: 6px;
  border-color: #003b46;
}

.card2 {
  margin: 80px 20px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #c4dfe6;
  border: 5px solid #e2e2e2;
  border-radius: 6px;
  border-color: #003b46;
}

.card:hover {
  border-color: #003b67;
  background: #e2e2e2;
}

footer .copyright {
  top: -8px;
  margin-right: 20px;
  font-size: .75em;
  text-align: center;
}

.clearfix {
  clear: both;
}

@media screen and (min-width: 840px) {
  
  .flex {
    display: flex;
    width: 90%;
    justify-content: space-around;
    margin: 0 auto;
  }
  
  header {
    min-height: 450px;
  }
  
  .nav {
    width: 100%;
  }
  
  .nav .name {
    display: block;
    margin-right: auto;
    color: #003b46;
    font-size: 3;
  }
  
  main {
    padding-top: 10px;
  }
  
}


